<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Second_hand_book_trading_platform.Properties.Settings.SECOND_BOOKConnectionString"
            connectionString="Data Source=DESKTOP-UPH7LHR;Initial Catalog=SECOND_BOOK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>